@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #A4AAB3 !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #A4AAB3 !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #A4AAB3 !important;
}

input::placeholder,
textarea::placeholder {
  color: #A4AAB3 !important;
}

